---

name: Quality Assurance

on:
  pull_request:
  push:
    branches:
      - master

jobs:

  xmlllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: delb-xml/xmlllint-action@0.1

...
