---

name: Quality Assurance

on:
  pull_request:
  push:
    branches:
      - master

jobs:

  xmlllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: delb-xml/xmllint-action@0.11
        with:
          root_folder: files

...
